name: "Workflow to Convert Jupyter Noteboks"
on:
  push:
    branches:
      - "main"
  schedule:
    - cron: "59 23 * * 6"

jobs:
  build:
    name: Converts the Notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/action
      - name: Commit PDFs and HTMLs
        run: |
          git config --global user.name 'Convert Action'
          git config --global user.email 'emanuel@block.science'
          git add *.html
          git add *.pdf
          git commit -m "Add converted notebooks"
          git push origin main
